*:focus {
    outline: 2px solid #F8D24E;
}

ul {
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
}

a,
a:visited,
a:hover {
    text-decoration: none;
}

button {
    padding: 0;
    margin: 0;

    cursor: pointer;
    border: none;
}

p,
h1,
h2,
h3,
h4,
h5 {
    margin: 0;
    padding: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}