<section class="advantages">
  <div class="advantages__container container">
    <p class="advantages__pre-title">Tradition and love</p>
    <h2 class="advantages__title">How it’s made?</h2>
    <div class="advantages__wrap">
      <div class="adventages__thumb">
        <picture>
          <source
            srcset="
              ./images/advantages/1/cow-desktop-1x.jpg 1x,
              ./images/advantages/1/cow-desktop-2x.jpg 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ./images/advantages/1/cow-tablet-1x.jpg 1x,
              ./images/advantages/1/cow-tablet-2x.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/advantages/1/cow-mob-1x.jpg 1x,
              ./images/advantages/1/cow-mob-2x.jpg 2x
            "
            media="(min-width: 320px)"
          />
          <img
            class="pic-list-img__item"
            src="./images/advantages/1/cow-desktop-1x.jpg"
            alt="cow"
            width="490"
          />
        </picture>
        <div class="pic-list-bg__item">

        </div>
      </div>
      <div class="advantages__description">
        <p class="advantages__after-title">
          Ice is a place where you will become not only a little happier, but
          also healthier. Health is the main value for us, and we follow it when
          creating our handmade desserts.
        </p>
        <p class="advantages__text">
          We use traditional recipes and 100% natural ingredients. Our products
          are so natural that they can be given to children from the age of
          three years. Sweets lovers can expect 55 types of ice cream, 15 types
          of coffee and 23 milkshakes.
        </p>
        <p class="advantages__text-finish">
          This is enough to choose ice cream and coffee for any mood!
        </p>
        <button class="advantages__btn" data-read-modal-open type="button">
          Read more
          <svg class="advantages__btn-icon" width="12" height="12">
            <use href="./images/svg/icons.svg#icon-vector"></use>
          </svg>
        </button>
      </div>
    </div>
    <div class="advantages__progress">
      <ul class="advantages__list">
        <li class="advantages-list__item">
          <div class="advantages-list__box">
            <svg class="advantages-list__icon" width="50" height="50">
              <use href="./images/svg/icons.svg#icon-cow"></use>
            </svg>
          </div>
          <h3 class="advantages-list__title">721</h3>
          <p class="advantages-list__text">
            Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
          </p>
        </li>
        <li class="advantages-list__item">
          <div class="advantages-list__box">
            <svg class="advantages-list__icon" width="50" height="50">
              <use href="./images/svg/icons.svg#icon-weight"></use>
            </svg>
          </div>
          <h3 class="advantages-list__title">16kg</h3>
          <p class="advantages-list__text">
            Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
          </p>
        </li>
        <li class="advantages-list__item">
          <div class="advantages-list__box">
            <svg class="advantages-list__icon" width="50" height="50">
              <use href="./images/svg/icons.svg#icon-ice-crema"></use>
            </svg>
          </div>
          <h3 class="advantages-list__title">84</h3>
          <p class="advantages-list__text">
            Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
          </p>
        </li>
      </ul>
    </div>
  </div>
</section>
