<section class="advantages">
    <div class="container">
        <h2 class="advantages__title">Tradition and love</h2>
        <h3 class="advantages__subtitle">How it’s made?</h3>
        <div >
            <picture>
                <source 
                srcset="./images/advantages/cow-desktop-1x.jpg, ./images/advantages/cow-desktop-2x.jpg"
                media="(min-width: 1200px)"
                />
                <source 
                srcset="./images/advantages/cow-bg-desktop-1x.png, ./images/advantages/cow-bg-desktop-2x.png"
                media="(min-width: 1200px)"
                />
                <source 
                srcset="./images/advantages/cow-tablet-1x.jpg, ./images/advantages/cow-tablet-2x.jpg"
                media="(min-width: 768px)"
                />
                <source 
                srcset="./images/advantages/cow-bg-tablet-1x.png, ./images/advantages/cow-bg-tablet-2x.png"
                media="(min-width: 768px)"
                />
                <source 
                srcset="./images/advantages/cow-mob-1x.jpg, ./images/advantages/cow-mob-2x.jpg"
                media="(min-width: 320px)"
                />
                <source 
                srcset="./images/advantages/cow-bg-mob-1x.png, ./images/advantages/cow-bg-mob-2x.png"
                media="(min-width: 320px)"
                />           
            </picture>
    
            <p>
                Ice is a place where you will become not only a little happier, but also healthier. Health is the main value for us, and we follow it when creating our handmade desserts. 
            </p>
            <p>
                We use traditional recipes and 100% natural ingredients. Our products are so natural that they can be given to children from the age of three years. Sweets lovers can expect 55 types of ice cream, 15 types of coffee and 23 milkshakes. 
            </p>
            <p>
                This is enough to choose ice cream and coffee for any mood!
            </p>
            <button type="button">Read more</button>
    
        </div>
        <div class="advantages__progress">
            <ul class="advantages__list">
                <li class="advantages-list__item">
                    <div class="advantages-list__box">
                        <svg width="50" height="50">
                          <use href="./images/svg/icons.svg#icon-cow"></use>
                        </svg>
                      </div>
                      <h3 class="advantages-list__title">721</h3>
                      <p>
                        Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
                      </p>

                </li>
                <li class="advantages-list__item">
                    <div class="advantages-list__box">
                        <svg width="50" height="50">
                          <use href="./images/svg/icons.svg#icon-weight"></use>
                        </svg>
                      </div>
                      <h3 class="advantages-list__title">16kg</h3>
                      <p>
                        Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
                      </p>

                </li>
                <li class="advantages-list__item">
                    <div class="advantages-list__box">
                        <svg width="50" height="50">
                          <use href="./images/svg/icons.svg#icon-ice-crema"></use>
                        </svg>
                      </div>
                      <h3 class="advantages-list__title">84</h3>
                      <p>
                        Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
                      </p>

                </li>
            </ul>

        </div>
    </div>
</section>