<div class="buy-modal__container is-hidden" data-buy-modal>
  <div class="buy-modal">
    <button class="buy-modal__button--close" type="button" data-buy-modal-close>
      <svg width="20" height="20">
        <use href="./images/svg/icons.svg#icon-close"></use>
      </svg>
    </button>
    <h2 class="buy-modal__title">Buy now</h2>
    <ul class="buy-modal__picture-list">
      <li class="buy-modal__picture-item">
        <label class="buy-modal__label--green">
          <img class="buy-modal__img" srcset="
              ./images/buy-modal/ice-cream-x1-132w.jpg 1x,
              ./images/buy-modal/ice-cream-x2-132w.jpg 2x
            " src="./images/buy-modal/ice-cream-x1-132w.jpg" alt="ice cream" />
          <div class="buy-modal__picture-shadow--green"></div>
          <input type="checkbox" name="ice-cream" />
          <div class="buy-modal__picture-title--green">
            <span>ice cream</span>
          </div>
        </label>
      </li>
      <li class="buy-modal__picture-item">
        <label class="buy-modal__label--yellow">
          <img class="buy-modal__img" srcset="
              ./images/buy-modal/ice-coffee-x1-132w.jpg 1x,
              ./images/buy-modal/ice-coffee-x2-132w.jpg 2x
            " src="./images/buy-modal/ice-coffee-x1-132w.jpg" alt="ice coffee" />
          <div class="buy-modal__picture-shadow--yellow"></div>
          <input type="checkbox" name="ice-coffee" />
          <div class="buy-modal__picture-title--yellow">
            <span>ice coffee</span>
          </div>
        </label>
      </li>
      <li class="buy-modal__picture-item">
        <label class="buy-modal__label--brown">
          <img class="buy-modal__img" srcset="
              ./images/buy-modal/milkshake-x1-132w.jpg 1x,
              ./images/buy-modal/milkshake-x2-132w.jpg 2x
            " src="./images/buy-modal/milkshake-x1-132w.jpg" alt="milkshake" />
          <div class="buy-modal__picture-shadow--brown"></div>
          <input type="checkbox" name="milkshake" />
          <div class="buy-modal__picture-title--brown">
            <span>milkshake</span>
          </div>
        </label>
      </li>
    </ul>
    <form class="buy-modal__form">
      <div class="buy-modal__input-list">
        <div class="buy-modal__input-item">
          <label for="name"></label>
          <div class="buy-modal__input">
            <input type="text" name="name" id="name" placeholder="Name" />
          </div>
        </div>
        <div class="buy-modal__input-item">
          <label for="tel"></label>
          <div class="buy-modal__input">
            <input type="tel" name="tel" id="tel" placeholder="Phone" />
          </div>
        </div>
        <div class="buy-modal__input-item">
          <label for="buy-modal__textarea"></label>
          <textarea name="coment" id="buy-modal__textarea" rows="2" placeholder="Comment"></textarea>
        </div>
      </div>
      <button class="buy-modal__button" type="submit">Submit</button>
    </form>
  </div>
</div>