<div class="backdrop is-hidden" data-consist-modal>
  <div class="consist-modal">
    <button class="consist-close" type="button" data-consist-modal-close>
      <svg width="20" height="20">
        <use href="./images/svg/icons.svg#icon-close"></use>
      </svg>
    </button>
    <p class="consist-title">
      Chololate icecream
    </p>
    <div class="consist-modal__imgs">
      <div class="consist-modal__elips"></div>
      <picture>
        <source srcset="./images/consist/chololate_icecream_1x.webp 1x, ./images/consist/chololate_icecream_2x.webp 2x"
          type="image/webp" media="(min-width: 768px)">
        <source srcset="./images/consist/chololate_icecream_1x.jpg 1x, ./images/consist/chololate_icecream_2x.jpg 2x"
          type="image/jpg" media="(min-width: 768px)">
        <img class="example__img-1" alt="lots of ice creams" src="./images/consist/chololate_icecream_1x.jpg"
          alt="choco-ice" width="132" height="132">
      </picture>
    </div>
    <ul class="consist-wrap-list">
      <li class="wrap-item">
        <div class="wrap-item__elips">
          <p class="wrap-item__text-elips">320</p>
        </div>
        <p class="wrap-item__text">kcal</p>
      </li>
      <li class="wrap-item">
        <div class="wrap-item__elips">
          <p class="wrap-item__text-elips">4g</p>
        </div>
        <p class="wrap-item__text">Prote...</p>
      </li>
      <li class="wrap-item">
        <div class="wrap-item__elips">
          <p class="wrap-item__text-elips">8,2g </p>
        </div>
        <p class="wrap-item__text">Fats</p>
      </li>
      <li class="wrap-item">
        <div class="wrap-item__elips">
          <p class="wrap-item__text-elips">40,4g </p>
        </div>
        <p class="wrap-item__text">Carbs</p>
      </li>
    </ul>
    <div class="ingredients">
      <p class="consist-menu">Ingredients</p>
      <ul class="consist-menu-list">
        <li class="menu-price">
          <p class="menu-text">Milk</p>
          <p class="menu-text">100ml</p>
        </li>
        <li class="menu-price">
          <p class="menu-text">Belgian chocolate</p>
          <p class="menu-text">20g</p>
        </li>
        <li class="menu-price">
          <p class="menu-text">Cream</p>
          <p class="menu-text">150ml</p>
        </li>
        <li class="menu-price">
          <p class="menu-text">Cocoa powder</p>
          <p class="menu-text">30g</p>
        </li>
        <li class="menu-price">
          <p class="menu-text">Sugar</p>
          <p class="menu-text">40g</p>
        </li>
        <li class="menu-price">
          <p class="menu-text">Vanilla sugar</p>
          <p class="menu-text">10g</p>
        </li>
      </ul>
    </div>
    <form class="consist-form">
      <ul class="consist-list">
        <li class="consist-item">
          <input class="consist-item__input" id="consist-item__name" type="text" name="consist-item__name"
            placeholder=" " required />
          <label for="" class="consist-item__lable">Name</label>
        </li>
        <li class="consist-item">
          <input class="consist-item__input" id="consist-item__tel" type="tel" name="tel" placeholder=" " required />
          <label class="consist-item__lable" for="consist-item__tel">Phone</label>
        </li>
        <li class="consist-item">
          <textarea class="consist-item__textarea" id="consist-item__comment" name="comment" rows="2"
            placeholder=" "></textarea>
          <label class="consist-item__lable" for="consist-item__comment">Comment</label>
        </li>
      </ul>
      <button class="consist-btn" type="submit">Submit</button>
    </form>
  </div>
</div>
</div>