<section class="contacts">
    <div class="container">
        <h2 class="contacts__title">Contacts</h2>
        <ul class="">
            <li>
                <p>CAFE</p>
                <address class="contacts__location">
                    <p>Chicago</p>
                    <a class="" href="">10340 Ridgeland Ave, Chicago Ridge, IL 60415, USA</a>
                </address>
                <div class="contacts__week">
                    <label>
                        Monday - Friday
                        <input type="data" min="06:00 AM - 10:00 PM">
                    </label>
                    <label>
                        Saturday - Sunday
                        <input type="data" min="08:00 AM - 16:00 PM">
                    </label>

                </div>

                <div class="contacts__contacts">                 
                    <a href="tel:+61(0) 383 766 284">+61(0) 383 766 284</a>
                    <a href="mailto:noreply@envato.com">noreply@envato.com</a>
                </div>
                                    
            </li>

           
        </ul>
        <div>
            <button>
                Our Locations
                <svg width="5" height="10">
                    <use href="./images/svg/icons.svg#icon-ep-arrow">
                </svg>
            </button>

            <button>
                Franchise
                <svg width="5" height="10">
                    <use href="./images/svg/icons.svg#icon-ep-arrow">
                </svg>
            </button>
        </div>
    </div>
</section>

