<section class="contacts">
    <div class="container">
        <h2 class="contacts__title">Contacts</h2>
        <ul class="contacts__list">
            <li class="contacts__item">
                <p class="contacts__representation">CAFE</p>
                <address class="contacts__location">
                    <p class="contacts__location--title">Chicago</p>
                    <a class="contacts__location--adress" href="https://goo.gl/maps/ypGGzn3V99HJtosS8" target="_blank" rel="noopener noreferrer">10340 Ridgeland Ave, Chicago Ridge, IL 60415, USA</a>
                </address>

                <p class="contacts__location--line"></p>

                <div class="contacts__week">
                    <div class="contacts__mode">
                        <p class="contacts__days">Monday - Friday</p> 
                        <p class="contacts__time">06:00 AM - 10:00 PM</p> 
                    </div>
                    <div class="contacts__mode">
                        <p class="contacts__days">Saturday - Sunday</p> 
                        <p class="contacts__time">08:00 AM - 16:00 PM</p> 
                    </div>                                     
                </div>

                <p class="contacts__week--line"></p>

                <div class="contacts__contacts">                 
                    <a class="contacts__nav" href="tel:+61(0)383766284">+61(0) 383 766 284</a>
                    <a class="contacts__nav" href="mailto:noreply@envato.com">noreply@envato.com</a>
                </div>
                                    
            </li>
            <li class="contacts__item">
                <p class="contacts__representation">FOODTRUCK</p>
                <address class="contacts__location">
                    <p class="contacts__location--title">Los Angeles</p>
                    <a class="contacts__location--adress" href="https://goo.gl/maps/UcWPMggaJi77UWfM7" target="_blank" rel="noopener noreferrer">1003 Manhattan Ave, Manhattan Beach, CA 90263, USA</a>
                </address>

                <p class="contacts__location--line"></p>

                <div class="contacts__week">
                    <div class="contacts__mode">
                        <p class="contacts__days">Monday - Friday</p> 
                        <p class="contacts__time">06:00 AM - 10:00 PM</p> 
                    </div>
                    <div class="contacts__mode">
                        <p class="contacts__days">Saturday - Sunday</p> 
                        <p class="contacts__time">08:00 AM - 16:00 PM</p> 
                    </div>                                     
                </div>

                <p class="contacts__week--line"></p>

                <div class="contacts__contacts">                 
                    <a class="contacts__nav" href="tel:+61(0)383766284">+61(0) 383 766 284</a>
                    <a class="contacts__nav" href="mailto:noreply@envato.com">noreply@envato.com</a>
                </div>
                                    
            </li>
           
            <li class="contacts__item">
                <p class="contacts__representation">CAFE</p>
                <address class="contacts__location">
                    <p class="contacts__location--title">New York</p>
                    <a class="contacts__location--adress" href="https://goo.gl/maps/FZnmCNGVuAuJarnJ9" target="_blank" rel="noopener noreferrer">726 Sterling Pl, Brooklyn, NY 11222, USA</a>
                </address>

                <p class="contacts__location--line"></p>

                <div class="contacts__week">
                    <div class="contacts__mode">
                        <p class="contacts__days">Monday - Friday</p> 
                        <p class="contacts__time">06:00 AM - 10:00 PM</p> 
                    </div>
                    <div class="contacts__mode">
                        <p class="contacts__days">Saturday - Sunday</p> 
                        <p class="contacts__time">08:00 AM - 16:00 PM</p> 
                    </div>                                     
                </div>

                <p class="contacts__week--line"></p>

                <div class="contacts__contacts">                 
                    <a class="contacts__nav" href="tel:+61(0)383766284">+61(0) 383 766 284</a>
                    <a class="contacts__nav" href="mailto:noreply@envato.com">noreply@envato.com</a>
                </div>
                                    
            </li>
        </ul>
        <div>
            <button>
                Our Locations
                <svg width="5" height="10">
                    <use href="./images/svg/icons.svg#icon-ep-arrow">
                </svg>
            </button>

            <button>
                Franchise
                <svg width="5" height="10">
                    <use href="./images/svg/icons.svg#icon-ep-arrow">
                </svg>
            </button>
        </div>
    </div>
</section>

