<footer class="footer">
  <div class="container">
    <div class="footer-contacts">
      <div class="footer-title__container">
        <p class="footer__title primary">homemade ice cream made</p>
        <p class="footer__title secondary">with passion</p>
      </div>
      <div>
        <ul class="footer__list">
          <li>
            <a href="https://github.com/" target="_blank">
              <svg class="footer__social-icon" width="20" height="20">
                <use href="./images/svg/icons.svg#icon-github"></use>
              </svg></a>
          </li>
          <li>
            <a href="https://telegram.org/" target="_blank">
              <svg class="footer__social-icon" width="20" height="20">
                <use href="./images/svg/icons.svg#icon-telegram"></use>
              </svg></a>
          </li>
          <li>
            <a href="https://www.facebook.com/" target="_blank">
              <svg class="footer__social-icon" width="20" height="20">
                <use href="./images/svg/icons.svg#icon-fb"></use>
              </svg></a>
          </li>
        </ul>
        <address class="address__container">
          <p>Feel free to contact</p>
          <a href="tel:+610383766284" class="address__link">+61 (0) 383 766 284</a>
        </address>
      </div>
    </div>
  </div>
  <div class="copyright">
    <p>&copy; 2022 - IceCream.</p>
    <p>All Rights Reserved.</p>
  </div>
</footer>