<header class="header">
    <nav class="header-nav">
        <!-- <a href="./" class="logo">
            <picture>
                <source srcset="./images/logo_x1.webp 1x, ./images/logo_x2.webp 2x" type="image/webp">
                <source srcset="./images/logo_x1.png 1x, ./images/logo_x2.png 2x" type="image/png">
                <img class="header-nav__img" src="./images/logo_x1.png" width="40" height="37" alt="logo">
            </picture>
        </a> -->
        <ul class="menu-list">
            <li class="menu-list__item"><a href="" class="menu-list__title">Home</a></li>
            <li class="menu-list__item"><a href="" class="menu-list__title">How it’s made?</a></li>
            <li class="menu-list__item"><a href="" class="menu-list__title">Our products</a></li>
            <li class="menu-list__item"><a href="" class="menu-list__title">Contact</a></li>
        </ul>
        <button class="header-nav__button" type="button">Buy now
            <svg width="32" height="32" class="header-nav__icon">
                <use href="./images/svg/icons.svg#icon-ep-arrow">
                </use>
            </svg>
        </button>
    </nav>
    </div>
</header>