<header class="header">
    <div class="container">
        <nav class="header-nav">
            <a href="./" class="logo">
                <picture>
                    <source srcset="./images/menu/logo_1x.png 1x, ./images/menu/logo_2x.png 2x" type="image/png"
                        media="(min-width: 480px)">
                    <source srcset="./images/menu/logo_1x_48w.png 1x, ./images/menu/logo_2x_48w.png 2x" type="image/png"
                        media="(min-width: 768px)">
                    <source srcset="./images/menu/logo_1x_60w.png 1x, ./images/menu/logo_2x_60w.png 2x" type="image/png"
                        media="(min-width: 1200px)">
                    <img class="header-nav__img" src="./images/menu/logo_1x.png" width="40" height="37" alt="logo">
                </picture>
            </a>
            <ul class="menu-list">
                <li class="menu-list__item"><a href="./" class="menu-list__title">Home</a></li>
                <li class="menu-list__item"><a href="#advantages" class="menu-list__title">How it’s made?</a></li>
                <li class="menu-list__item"><a href="#products" class="menu-list__title">Our products</a></li>
                <li class="menu-list__item"><a href="#contacts" class="menu-list__title">Contact</a></li>
            </ul>
            <button class="drop-menu__button" btn-menu data-menu-open aria-expanded="false" type="button">
                <svg class="drop-menu__svg" width="32" height="32" aria-label="mobile menu">
                    <use class="menu__icon" href="./images/svg/icons.svg#icon-menu"></use>
                    <use class="cross__icon" href="./images/svg/icons.svg#icon-close"></use>
                </svg>
            </button>
            <div class="drop-menu is-hidden" data-menu>
                <ul class="drop-menu-list">
                    <li class="drop-menu__item"><a href="./" class="drop-menu__title">Home</a></li>
                    <li class="drop-menu__item"><a href="#advantages" class="drop-menu__title">How it’s made?</a></li>
                    <li class="drop-menu__item"><a href="#products" class="drop-menu__title">Our products</a></li>
                    <li class="drop-menu__item"><a href="#contacts" class="drop-menu__title">Contact</a></li>
                </ul>
                <button class="buy-now__button" data-buy-modal-open type="button">Buy now
                    <svg width="32" height="32" class="buy-now__icon">
                        <use href="./images/svg/icons.svg#icon-ep-arrow">
                        </use>
                    </svg>
                </button>
            </div>
            <button class="header-nav__button" data-buy-modal-open type="button">Buy now
                <svg width="32" height="32" class="header-nav__icon">
                    <use href="./images/svg/icons.svg#icon-ep-arrow">
                    </use>
                </svg>
            </button>
        </nav>
    </div>
</header>