<!-- <header class="header">
        <nav class="header-nav">
            <a href="./" class="logo"></a>
            <ul class="menu-list">
                <li class="menu-list__item"><a href="" class="menu-list__title">Home</a></li>
                <li class="menu-list__item"><a href="" class="menu-list__title">How it’s made?</a></li>
                <li class="menu-list__item"><a href="" class="menu-list__title">Our products</a></li>
                <li class="menu-list__item"><a href="" class="menu-list__title">Contact</a></li>
            </ul>
            <button type="button">Buy now</button>
        </nav>
    </div>
</header> -->