<section class="hero">
    <div class="container">
        <div class="hero__position">
            <div class="hero__title">ice cream made with passion</div>
            <div class="hero_buttons">
                <button class="buttons__product" type="button">Products</button>
                <button class="buttons__modal-open" type="button">How it’s made?</button>
            </div>
            <div class="example">
                <picture>
                    <source
                        srcset="./images/hero/lots_ice-creame_1x_225w.webp 1x, ./images/hero/lots_ice-creame_1x_225w.webp 2x"
                        type="image/webp" media="(min-width: 1200px)">
                    <source
                        srcset="./images/hero/lots_ice-creame_1x_225w.png 1x, ./images/hero/lots_ice-creame_1x_225w.png 2x"
                        type="image/png" media="(min-width: 1200px)">
                    <source
                        srcset="./images/hero/lots_ice-creame_1x_152w.webp 1x, ./images/hero/lots_ice-creame_1x_152w.webp 2x"
                        type="image/webp" media="(min-width: 768px)">
                    <source
                        srcset="./images/hero/lots_ice-creame_1x_152w.png 1x, ./images/hero/lots_ice-creame_1x_152w.png 2x"
                        type="image/png" media="(min-width: 768px)">
                    <img class="example__img" alt="lots of ice creams" src="./images/hero/lots_ice-creame_1x_152w.png"
                        width="152" alt="lots of ice creams">
                </picture>
                <p class="description">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et
                    <svg width="40" height="16" class="description__icon">
                        <use href="./images/svg/icons.svg#icon-arrow"></use>
                    </svg>
                </p>
            </div>
            <div class="details">
                <p class="cafes-number"><span class="decor">16</span><br> 
                    cafes</p>
                <p class="trucks"><span class="decor">23</span><br>
                    food trucks</p>
            </div>
            <div class="hero__background-pictures">
                <picture>
                    <source srcset="./images/hero/dots_1x_1200w.webp 1x, ./images/hero/dots_2x_1200w.webp 2x" type="image/webp" media="(min-width: 1200px)">
                    <source srcset="./images/hero/dots_1x_1200w.png 1x, ./images/hero/dots_2x_1200w.png 2x" type="image/png"
                    media="(min-width: 1200px)">
                    <source srcset="./images/hero/dots_1x_768w.webp 1x, ./images/hero/dots_2x_768w.webp 2x" type="image/webp" media="(min-width: 768px)">
                    <source srcset="./images/hero/dots_1x_768w.png 1x, ./images/hero/dots_2x_768w.png 2x" type="image/png"
                    media="(min-width: 768px)">
                    <source srcset="./images/hero/dots_1x_320w.webp 1x, ./images/hero/dots_2x_320w.webp 2x" type="image/webp" media="(min-width: 768px)">
                    <source srcset="./images/hero/dots_1x_320w.png 1x, ./images/hero/dots_2x_320w.png 2x" type="image/png"
                        media="(max-width: 767px)">
                    <img class="hero__dots" width="320" src="./images/hero/dots_1x_320w.png" alt="dots">
                </picture>
                <picture>
                    <source srcset="./images/hero/ice_1x_1200w.webp 1x, ./images/hero/ice_2x_1200w.webp 2x"
                        type="image/webp" media="(min-width: 1200px)">
                    <source srcset="./images/hero/ice_1x_1200w.png 1x, ./images/hero/ice_2x_1200w.png 2x"
                        type="image/png" media="(min-width: 1200px)">
                    <source srcset="./images/hero/ice_1x_768w.webp 1x, ./images/hero/ice_2x_768w.webp 2x"
                        type="image/webp" media="(min-width: 768px)">
                    <source srcset="./images/hero/ice_1x_768w.png 1x, ./images/hero/ice_2x_768w.png 2x" type="image/png"
                        media="(min-width: 768px)">
                    <img class="hero__ice" width="177" src="./images/hero/ice_1x_480w.png" alt="ice-cream">
                </picture>
            </div>
        </div>
    </div>
</section>