<div class="backdrop is-hidden" data-locations-modal>
    <div class="local-modal">
        <button type="button" class="local-close" data-locations-modal-close>
            <svg class="modal-close-icon" width="20px" height="20px">
                <use href="./images\svg/icons.svg#icon-close"></use>
            </svg>
        </button>
        <p class="modal-title">Our Locations</p>
        <div class="local-map">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3026.057873270101!2d-73.95692268459621!3d40.67269377933625!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c25b9e1735b38f%3A0xb5fe454b88e9c2c0!2zNzI2IFN0ZXJsaW5nIFBsLCBCcm9va2x5biwgTlkgMTEyMTYsINCh0KjQkA!5e0!3m2!1sru!2sua!4v1672159344302!5m2!1sru!2sua" width="224" height="199" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
        <button type="submit" class="local-btn">
            <a class="open"
                href="https://goo.gl/maps/sEKBWwWBsNaNY5z66"
                target="_blank">Open map</a>
        </button>
    </div>
</div>