<div class="backdrop is-hidden" data-modal>
 <div class="local-modal">
     <button type="button" class="local-close" data-modal-close>
         <svg class="modal-close-icon" width="20px" height="20px">
             <use href="./images\svg/icons.svg#icon-close"></use>
         </svg>
     </button>
     <p class="modal-title">Our Locations</p>
    <div class="local-map">
         <picture>
            <source
            srcset="./images/location/location.png 1x,
            ./images/location/location-2x.png 2x"
            media="min-width: 768px"
            />
            <source
            srcset="./images/location/location-mob.png 1x,
            ./images/location/location-mob-2x.png 2x"
            media="min-width: 320px"
            />
              <img src="./images/location/location.png" 
                  alt="Our Locations"
                  class="map" 
                 >
         </picture>
    </div>
    <button type="submit" class="local-btn">
    <a class="open" href="https://www.mapbox.com/contribute/#/?owner=mapbox&id=streets-v11&access_token=pk.eyJ1IjoiY2FydmluIiwiYSI6IjdGSUItY1kifQ.dhkr11vInR8pEWrMYMY4gA&utm_source=https%3A%2F%2Fcarvin.github.io%2F&utm_medium=attribution_link&utm_campaign=referrer&q=&l=12.0781%2F49.6019%2F34.5382" target="_blank">Open map</a>
     </button>
</div>
</div>            
     