<section class="products products__wrap">
  <div class="container">
    <p class="products__text">100% natural</p>
    <h2 class="products__title">products</h2>
    <ul class="products__list">
      <li class="products__card products__ice-cream">
        <p class="products__ellipse products__ellipse-ice-cream"></p>
        <h3 class="products__card-title">ice cream</h3>
        <div class="products__card-text">
          Soft ice cream with a delicate taste. Made with milk, cream, sugar and
          natural stabilizer
        </div>
        <button type="button" class="products__btn btn" data-modal-open>
          <svg class="products__card-open" width="40" height="16">
            <use href="./images/svg/icons.svg#icon-arrow"></use>
          </svg>
        </button>
      </li>
      <li class="products__card products__ice-coffee">
        <p class="products__ellipse products__ellipse-ice-coffee"></p>
        <h3 class="products__card-title">ice coffee</h3>
        <p class="products__card-text">
          Fragrant invigorating drink created from 100% natural ingredients
          without the use of preservatives and flavor enhancers
        </p>
        <button type="button" class="products__btn btn" data-modal-open>
          <svg class="products__card-open" width="40" height="16">
            <use href="./images/svg/icons.svg#icon-arrow"></use>
          </svg>
        </button>
      </li>
      <li class="products__card products__milkshakes">
        <p class="products__ellipse products__ellipse-milkshakes"></p>
        <h3 class="products__card-title">milkshakes</h3>
        <p class="products__card-text">
          Sweet drinks based on milk and ice cream, supplemented with syrups,
          fruits, berries and other sweets of your choice
        </p>
        <button type="button" class="products__btn btn" data-modal-open>
          <svg class="products__card-open" width="40" height="16">
            <use href="./images/svg/icons.svg#icon-arrow"></use>
          </svg>
        </button>
      </li>
    </ul>
  </div>
</section>
