<section class="products products__wrap">
  <div class="container">
    <p class="products__text">100% natural</p>
    <h2 class="products__title">products</h2>
    <ul class="products__list">
      <li class="products__card">
        <p class="products__card-ellipse"></p>
        <h3 class="products__card-title">ice cream</h3>
        <p class="products__card-text">
          Soft ice cream with a delicate taste. Made with milk, cream, sugar and
          natural stabilizer
        </p>
        <button type="button" class="products__btn btn" data-modal-open>
          <svg class="products__card-open" width="40" height="16">
            <use href="./images/svg/icons.svg#icon-arrow"></use>
        </button>
      </li>
    </ul>
  </div>
</section>
