      <div class="backdrop is-hidden" data-modal>
        <div class="read-more-modal" >
            <button type="button" class="read-close" data-modal-close>
                <svg class="modal-close-icon" width="14" height="14">
                    <use href="./images/svg/icons.svg#icon-close"></use>
                </svg>
            </button>
            <p class="read-title">How it’s made?</p>
            <iframe
             src="https://www.youtube.com/embed/_Zt1EuIEhvw" title="YouTube video player" frameborder="0" allow="accelerometer;  clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen
             width="224"
             controls
             autoplay
             loop
             preload="metadata"
             class="read-video"
>
  <source
    src="https://youtu.be/_Zt1EuIEhvw.webm"
    type="video/webm"
  />
  <source
    src="https://youtu.be/_Zt1EuIEhvw.mp4"
    type="video/mp4"
  />
  <source
    src="https://youtu.be/_Zt1EuIEhvw.ogg"
    type="video/ogg"
  />
            </iframe>
<p class="read-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
        </div>
    </div>               