<section class="reviews">
  <div class="container">
    <div class="reviews__thumb">
      <picture>
        <source
          srcset="
            ./images/jpeg/reviews/emily-img.webp   1x,
            ./images/jpeg/reviews/emily-img@2.webp 2x
          "
          type="image/webp"
          width="85"
        />
        <source
          srcset="
            ./images/jpeg/reviews/emily-img.jpg   1x,
            ./images/jpeg/reviews/emily-img@2.jpg 2x
          "
          type="image/jpeg"
          width="85"
        />
        <img
          class="reviews-img"
          src="./images/jpeg/reviews/emily-img.jpg"
          alt="Emily's photo"
        />
      </picture>
      <div class="comment-body">
        <p class="comment-body__text">
          I love visiting your cafe. You prepare the most delicious ice cream in
          Los Angeles! In addition, you have beautiful serving, cozy atmosphere
          and polite staff.
        </p>
      </div>
      <div class="comment-body__consumer-name__thumb">
        <p class="comment-body__consumer-name">Emily, Los Angeles</p>
      </div>
    </div>
    <div class="reviews__thumb">
      <picture>
        <source
          srcset="
            ./images/jpeg/reviews/bryan-img.webp   1x,
            ./images/jpeg/reviews/bryan-img@2.webp 2x
          "
          type="image/webp"
          width="85"
        />
        <source
          srcset="
            ./images/jpeg/reviews/bryan-img.jpg   1x,
            ./images/jpeg/reviews/bryan-img@2.jpg 2x
          "
          type="image/jpeg"
          width="85"
        />
        <img
          class="reviews-img"
          src="./images/jpeg/reviews/bryan-img.jpg"
          alt="Brian's photo"
        />
      </picture>
      <div class="comment-body">
        <p class="comment-body__text">
          Every day we come to you with friends after classes in college. We
          love your ice cream and casual atmosphere!
        </p>
      </div>
      <div class="comment-body__consumer-name__thumb">
        <p class="comment-body__consumer-name">Bryan, New-York</p>
      </div>
    </div>
    <div class="reviews__thumb">
      <picture>
        <source
          srcset="
            ./images/jpeg/reviews/diana-img.webp   1x,
            ./images/jpeg/reviews/diana-img@2.webp 2x
          "
          type="image/webp"
          width="85"
        />
        <source
          srcset="
            ./images/jpeg/reviews/diana-img.jpg   1x,
            ./images/jpeg/reviews/diana-img@2.jpg 2x
          "
          type="image/jpeg"
          width="85"
        />
        <img
          class="reviews-img"
          src="./images/jpeg/reviews/diana-img.jpg"
          alt="Diana's photo"
        />
      </picture>
      <div class="comment-body">
        <p class="comment-body__text">
          Ice cream is my passion! I love your chocolate hazelnut ice cream! And
          I really like the excellent service - always served politely and
          quickly!
        </p>
      </div>
      <div class="comment-body__consumer-name__thumb">
        <p class="comment-body__consumer-name">Diana, Chicago</p>
      </div>
    </div>
  </div>
</section>
