// !для інформації:

// body {
//     font-family: 'Montserrat', sans-serif;
//     font-weight: 400;
//     font-size: 14px;
//     color: $color-black;
// }

// $color-yellow: #F8D24E;
// $color-black: #131313;
// $color-green-bg: #84A178;
// $color-white-bg: #FCFCFC;
// $hover-focus-color: #0A8817;
// $focus-color-txt: #FCFCFC;
// $hover-color-txt: #0A8817;
// $ffamily-seymour:'Seymour One', sans-serif;
// $ffamily-montserrat:'Montserrat', sans-serif;

//!видалити після закінчення секції
.advantages {
  background-color: #84a178;
  &__title {
    padding-top: 61px;
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 18px;
    line-height: 1.22;
    text-align: center;
    text-transform: uppercase;

    color: #fcfcfc;
    @media screen and (min-width: 768px) {
      font-weight: 800;
      font-size: 22px;
      line-height: 1.23;
      letter-spacing: 0.04em;
    }
    @media screen and (min-width: 1200px) {
      font-weight: 800;
      font-size: 30px;
      line-height: 1.23;
      letter-spacing: 0.04em;
    }
  }
  &__subtitle {
    margin-top: 12px;
    font-family: 'Seymour One';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 1.27;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;

    color: #fcfcfc;
  }
  @media screen and (min-width: 768px) {
    font-size: 34px;
    line-height: 1.27;
    letter-spacing: 0.06em;
  }
  @media screen and (min-width: 1200px) {
    font-size: 36px;
    line-height: 1.25;
    letter-spacing: 0.06em;
  }

  &__description {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    

    text-align: center;
  }
}

.advantages__picture {
  background: linear-gradient(
      0deg,
      rgba(248, 210, 78, 0.7),
      rgba(248, 210, 78, 0.7)
    ),
    #d9d9d9;
  box-shadow: 0px 4.48583px 16.8218px rgba(153, 114, 23, 0.25);
  border-radius: 140px;
}
