// !для інформації:

// body {
//     font-family: 'Montserrat', sans-serif;
//     font-weight: 400;
//     font-size: 14px;
//     color: $color-black;
// }

// $color-yellow: #F8D24E;
// $color-black: #131313;
// $color-green-bg: #84A178;
// $color-white-bg: #FCFCFC;
// $hover-focus-color: #0A8817;
// $focus-color-txt: #FCFCFC;
// $hover-color-txt: #0A8817;
// $ffamily-seymour:'Seymour One', sans-serif;
// $ffamily-montserrat:'Montserrat', sans-serif;

//!видалити після закінчення секції

.contacts {
    background-color: $color-green-bg;
}

.contacts__title {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}
.contacts__list {
    display: block;
}
.contacts__item {
    position: absolute;
    width: 280px;
    height: 412px;
    left: 20px;
    right: 20px;
    top: 0px;
    background: $focus-color-txt;
    box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
    border-radius: 24px;
    margin-bottom: 16px;
    gap: 16px;
}
.contacts__representation {
    position: absolute;
    width: 80px;
    height: 22px;
    left: 32px;
    top: 40px;
    background: $color-yellow;
    border-radius: 4px;
    font-weight: 500;
    font-size: 12px;
    line-height: 120%;
    align-items: center;
    text-align: center;
    letter-spacing: 0.04em;
    color: $color-black;
    padding: (4px 22px 4px 22px);
}
.contacts__location {
    position: absolute;
    left: 32px;
    top: 82px;
}
.contacts__location--title {
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 186%;
    letter-spacing: 0.04em;
    margin-bottom: 8px;    
}
.contacts__location--adress {
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 183%;
    letter-spacing: 0.04em;
    color: #D6936D;
}
.contacts__location--line {
    position: absolute;
    width: 216px;
    height: 0px;
    left: 32px;
    top: 176px;
    border: 1px solid #E1E1E1;
}
.contacts__week {
    position: absolute;
    left: 32px;
    top: 200px;
}

.contacts__mode {
    margin-bottom: 8px;
}
.contacts__days {
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 186%;    
}
.contacts__week--line {
    position: absolute;
    width: 216px;
    height: 0px;
    left: 32px;
    top: 320px;

border: 1px solid #E1E1E1;
}
.contacts__time {    
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 186%;
    color: #ABABAB;
}
.contacts__contacts {
    position: absolute;
    width: 130px;
    height: 44px;
    left: 32px;
    top: 344px;
}
.contacts__nav {
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 160%;
    color: $color-black;
    padding-bottom: 6px;    
}