.franchise-modal__container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  background: rgba(0, 0, 0, 0.2);

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.franchise-modal {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 26px;

  max-width: 280px;
  width: 100%;
  max-height: 674px;
  height: 100%;

  background: $color-white-bg;
  border: 2px solid $color-yellow;
  border-radius: 10px;

  overflow: hidden;
  overflow-y: scroll;

  @media screen and (min-width: 768px) {
    padding: 29px 56px;
    max-width: 568px;
    max-height: 668px;
  }
}
.franchise-modal__button--close {
  position: absolute;
  top: 12px;
  right: 12px;
  width: 20px;
  height: 20px;
  background-color: $color-white-bg;

  fill: currentColor;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: $hover-focus-color;
  }
}
.franchise-modal__title {
  margin-bottom: 20px;
  text-align: center;
  max-width: 322px;

  font-family: $ffamily-seymour;
  font-size: 16px;
  line-height: 1.5;

  @media screen and (min-width: 768px) {
    margin-bottom: 24px;
    font-size: 20px;
    line-height: 1.4;
  }
}
.franchise-modal__text {
  margin-bottom: 24px;
  text-align: start;
  line-height: 1.42;

  @media screen and (min-width: 768px) {
    margin-bottom: 32px;
    font-size: 16px;
    line-height: 1.37;
  }
}
.franchise-modal__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 368px;
  width: 100%;
}
.franchise-modal__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  width: 100%;
  margin-bottom: 24px;

  @media screen and (min-width: 768px) {
    gap: 16px;
    margin-bottom: 32px;
  }
}
.franchise-modal__item {
  width: 100%;
}
.franchise-modal input,
textarea {
  width: 100%;
  height: 32px;
  padding-left: 12px;
  font-size: 12px;
  line-height: 1.42;
  background: rgba(248, 210, 78, 0.1);
  border: 1px solid $color-green-bg;
  border-radius: 10px;

  &::placeholder {
    padding-top: 8px;
    color: $color-black;
  }

  @media screen and (min-width: 768px) {
    height: 42px;
    width: 368px;
  }
}
.franchise-modal textarea {
  height: 64px;

  @media screen and (min-width: 768px) {
    height: 84px;
  }
}
.franchise-modal__button {
  padding: 12px 34px;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.25;
  background: $color-yellow;
  border-radius: 10px;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: $hover-focus-color;
  }
  &:focus {
    color: $focus-color-txt;
  }

  @media screen and (min-width: 768px) {
    font-size: 14px;
    line-height: 1.21;
  }
}
