.franchise-modal {
  width: 340px;
  padding: 26px;
  text-align: center;
  overflow-y: auto;

  box-sizing: border-box;
  border: 2px solid #F8D24E;
  border-radius: 10px;
  background-color: #FCFCFC;

  transition: transform 1000ms cubic-bezier(0.4, 0, 0.2, 1);

  @media screen and (min-width: 768px) {
    width: 564px;
    padding: 30px 58px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.franchise-modal__title {
  margin-bottom: 20px;
  text-align: center;
  max-width: 322px;

  font-family: $ffamily-seymour;
  font-size: 16px;
  line-height: 1.5;

  @media screen and (min-width: 768px) {
    margin-bottom: 24px;
    font-size: 20px;
    line-height: 1.4;
  }
}

.franchise-modal__text {
  margin-bottom: 24px;
  text-align: start;
  line-height: 1.4;

  @media screen and (min-width: 768px) {
    margin-bottom: 32px;
    font-size: 16px;
    line-height: 1.4;
  }
}

.franchise-modal__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 368px;
  width: 100%;
}

.franchise-modal__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 12px;
  width: 100%;
  margin-bottom: 24px;

  @media screen and (min-width: 768px) {
    gap: 16px;
    margin-bottom: 32px;
  }
}

.franchise-modal__item {
  position: relative;
  width: 100%;
}

.franchise-modal__lable {
  position: absolute;
  top: 50%;
  left: 17px;
  font-size: 11px;
  line-height: 1.4;
  color: $color-black;
  transform: translateY(-50%) scale(1.25);

  transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1);

  &.textarea {
    transform: translateY(-250%) scale(1.25);
  }
}

.franchise-modal__input {
  width: 100%;
  height: 32px;
  padding: 11px 16px;
  font-size: 12px;
  line-height: 1.4;

  background: rgba(248, 210, 78, 0.1);
  border: 1px solid $color-green-bg;
  border-radius: 10px;
  inset: -5px 0px 0px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);

  @media screen and (min-width: 768px) {
    height: 42px;
    width: 368px;
  }

  &:hover~.franchise-modal__lable,
  &:focus~.franchise-modal__lable,
  &:not(:placeholder-shown)~.franchise-modal__lable {
    transform: translateY(-180%) scale(1);
    background-image: linear-gradient(to bottom,
        #fff 50%, #fefbed 50%, #fefbed 100%);
    padding: 0 3px;
  }

  &:hover,
  &:focus {
    border: 2px solid $color-yellow;
    outline: none;
  }
}

.franchise-textarea {
  padding: 11px 16px;
  width: 100%;
  font-size: 12px;
  line-height: 1.4;
  background: rgba(248, 210, 78, 0.1);
  border: 1px solid $color-green-bg;
  border-radius: 10px;

  &:hover,
  &:focus {
    border: 2px solid $color-yellow;
    outline: none;
  }

  &:hover~.franchise-modal__lable,
  &:focus~.franchise-modal__lable,
  &:not(:placeholder-shown)~.franchise-modal__lable {

    transform: translateY(-370%) scale(1);
    background-image: linear-gradient(to bottom,
        #fff 50%, #fefbed 50%, #fefbed 100%);
    padding: 0 3px;
  }
}

.franchise-modal__button {
  padding: 12px 34px;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.25;
  background: $color-yellow;
  border-radius: 10px;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: $hover-focus-color;
  }

  &:focus {
    color: $focus-color-txt;
  }

  @media screen and (min-width: 768px) {
    font-size: 14px;
    line-height: 1.21;
  }
}