// !для інформації:

// body {
//     font-family: 'Montserrat', sans-serif;
//     font-weight: 400;
//     font-size: 14px;
//     color: $color-black;
// }

// $color-yellow: #F8D24E;
// $color-black: #131313;
// $color-green-bg: #84A178;
// $color-white-bg: #FCFCFC;
// $hover-focus-color: #0A8817;
// $focus-color-txt: #FCFCFC;
// $hover-color-txt: #0A8817;
// $ffamily-seymour:'Seymour One', sans-serif;
// $ffamily-montserrat:'Montserrat', sans-serif;

//!видалити після закінчення секції

.header {
    background-color: $color-green-bg;
    height: 65px;
}

.header-nav {
    display: flex;
    justify-content: space-between;
    align-items: baseline;

}

.logo {
    display: block;
    width: 40px;
    height: 37px;


    @media screen and (min-width: 768px) {
        width: 48px;
        height: 44px;
    }

    @media screen and (min-width: 1200px) {
        width: 60px;
        height: 65px;
    }
}

.header-nav__img {
    display: block;
    width: 100%;
    overflow: hidden;
}

.menu-list {
    display: flex;
    gap: 28px;
}

.menu-list__item {}

.menu-list__title {
    display: block;
    padding-top: 32px;
    padding-bottom: 13px;

    font-weight: 700;
    font-size: 16px;
    line-height: calc(20 / 16);

    color: $color-white-bg;

    &:focus,
    &:hover {
        color: $color-yellow;
    }
}

.header-nav__button {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 12px 35px;
    min-width: 152px;
    height: 42px;

    font-weight: 600;
    line-height: calc(17 / 14);

    border-radius: 10px;
    color: $color-black;
    background-color: $color-yellow;
}

.header-nav__icon {
    fill: currentColor;
    height: 12px;
    width: 12px;

    margin-left: 4px;
}