// !для інформації:

// body {
//     font-family: 'Montserrat', sans-serif;
//     font-weight: 400;
//     font-size: 14px;
//     color: $color-black;
// }

// $color-yellow: #F8D24E;
// $color-black: #131313;
// $color-green-bg: #84A178;
// $color-white-bg: #FCFCFC;
// $hover-focus-color: #0A8817;
// $focus-color-txt: #FCFCFC;
// $hover-color-txt: #0A8817;
// $ffamily-seymour:'Seymour One', sans-serif;
// $ffamily-montserrat:'Montserrat', sans-serif;

//!видалити після закінчення секції

.header-nav {
    display: flex;

}

.logo {}

.menu-list {
    display: flex;
    gap: 28px;
}

.menu-list__item {}

.menu-list__title {
    font-weight: 700;
    font-size: 16px;
    line-height: calc(20 / 16);

    color: $color-white-bg;

    &:focus,
    &:hover {
        color: $color-yellow;
    }
}