.hero {
    padding-top: 50px;

    @media screen and (min-width: 768px) {
        padding-top: 14px;
    }

    @media screen and (min-width: 1200px) {
        padding-top: 45px;
    }
}

.hero__position {
    position: relative;
    height: 404px;

    @media screen and (min-width: 768px) {
        height: 335px;
    }

    @media screen and (min-width: 1200px) {
        height: 541px;
    }
}

.hero__title {
    font-family: $ffamily-seymour;
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: calc(33 / 26);
    letter-spacing: 0.04em;
    text-transform: uppercase;
    width: 247px;
    color: $color-white-bg;

    margin-bottom: 32px;

    @media screen and (min-width: 768px) {
        width: 35%;
    }

    @media screen and (min-width: 1200px) {
        font-size: 38px;
        line-height: calc(48 / 38);
    }
}

.hero_buttons {
    display: flex;
    align-items: center;
    gap: 12px;
    padding-bottom: 236px;

    @media screen and (min-width: 768px) {
        margin-bottom: 12px;
        padding-bottom: 0;
    }

    @media screen and (min-width: 1200px) {
        margin-bottom: 42px;
    }
}

.buttons__product {
    padding: 9px 24px;
    background-color: transparent;

    border: 2px solid #F8D24E;
    border-radius: 8px;

    font-weight: 600;
    font-size: 12px;
    line-height: calc(15 / 12);
    display: flex;
    align-items: center;
    text-align: center;

    color: #000000;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover {
        border: 2px solid $hover-focus-color;
        outline: none;
    }

    &:focus {
        color: $color-white-bg;
        border: 2px solid $hover-focus-color;
        outline: none;
    }
}

.buttons__modal-open {
    background-color: transparent;
    font-weight: 600;
    font-size: 12px;
    line-height: calc(15 / 12);
    display: flex;
    align-items: center;
    text-align: center;
    text-decoration-line: underline;

    color: #F8D24E;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        color: $color-white-bg;
    }
}

.example {
    display: none;

    @media screen and (min-width: 768px) {
        display: flex;
        gap: 32px;
        align-items: center;
        padding-bottom: 12px;
    }

    @media screen and (min-width: 1200px) {
        gap: 16px;
        padding-bottom: 65px;
    }
}

.example__img {
    position: relative;
    z-index: 1;
    width: 152px;
    height: 152px;

    @media screen and (min-width: 1200px) {
        width: 225px;
        height: 225px;
    }
}

.description {
    width: 152px;
    position: relative;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.4;

    color: #FCFCFC;

    @media screen and (min-width: 1200px) {
        width: 200px;
        font-size: 14px;
    }
}

.description__icon {
    position: absolute;
    left: 0;
    bottom: -12px;

    transform: translateY(100%);

    fill: #FCFCFC;
    width: 40px;
    height: 16px;

}

.details {
    display: none;

    @media screen and (min-width: 768px) {
        display: block;
        position: absolute;
        top: 14px;
        right: 0px;
    }

    @media screen and (min-width: 1200px) {
        top: 8px;
    }
}

.trucks,
.cafes-number {
    text-align: right;
    color: #FCFCFC;

    @media screen and (min-width: 768px) {
        font-size: 8px;
        line-height: calc(10 / 8);
    }

    @media screen and (min-width: 1200px) {
        font-size: 14px;
        line-height: calc(17 / 14);
    }
}

.cafes-number {
    margin-bottom: 20px;

    @media screen and (min-width: 1200px) {
        margin-bottom: 16px;
    }
}

.decor {
    font-size: 28px;
    line-height: calc(34 / 28);
    font-weight: 900;
    text-align: right;
    letter-spacing: 0.04em;
    text-transform: uppercase;

    color: #131313;

    @media screen and (min-width: 1200px) {
        font-size: 46px;
        line-height: calc(56 / 46);
    }

}

.hero__background-pictures {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 -20px;
    pointer-events: none;
}

.hero__ice {
    pointer-events: none;
    z-index: 1;
    position: absolute;
    bottom: 0;
    right: 20%;

    @media screen and (min-width: 325px) {
        right: 24%;
    }

    @media screen and (min-width: 370px) {
        right: 27%;
    }

    @media screen and (min-width: 410px) {
        right: 33%;
    }

    @media screen and (min-width: 768px) {
        right: 92px;
        width: 268px;
    }

    @media screen and (min-width: 1200px) {
        width: 456px;
    }
}

.hero__dots {
    width: 100%;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
}