.local-modal {
  width: 280px;
  padding: 26px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background: #FCFCFC;
  border: 2px solid #F8D24E;
  border-radius: 10px;

  @media screen and (min-width: 768px) {
    padding: 30px 58px;
    width: 568px;
  }
}

.modal-title {
  font-family: 'Seymour One';
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 20px;

  @media screen and (min-width: 768px) {
    font-size: 20px;
    line-height: 1.4;
    margin-bottom: 32px;
  }

  text-align: center;
  color: #131313;
}

.local-map {
  display: flex;
  justify-content: center;
  min-width: 224px;
  min-height: 199px;
  border: 0;
  border-radius: 10px;
  margin-bottom: 24px;

  @media screen and (min-width: 768px) {
    & iframe {
      width: 448px;
      height: 260px;
    }

    margin-bottom: 32px;
  }

}

.map {
  overflow: hidden;
}


.local-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px 34px;
  border: 0;
  background: #F8D24E;
  border-radius: 10px;
  margin: 0 auto;
}

.open {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.25;

  @media screen and (min-width: 768px) {
    font-size: 14px;
    line-height: 1.21;
  }

  display: flex;
  align-items: center;
  text-align: center;
  color: #131313;
}