.local-modal {
  width: 100%;
  padding: 26px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  @media screen and (min-width: 480px) {
    width: 70%;
  }

  @media screen and (min-width: 768px) {
    padding: 30px 58px;
    width: 568px;
  }

  background: #FCFCFC;
  border: 2px solid #F8D24E;
  border-radius: 10px;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .backdrop.is-hidden & {
    transform: translate(-50%, -50%) scale(0);
  }
}

.local-close {
  background-color: #FCFCFC;
  border: 0;
  position: absolute;
  right: 12px;
  top: 12px;
}

.modal-close-icon {
  width: 20px;
  height: 20px;

  @media screen and (min-width: 768px) {
    width: 24px;
    height: 24px;
  }

  color: #131313;
  background-color: #FCFCFC;
}

.modal-title {
  font-family: 'Seymour One';
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 20px;

  @media screen and (min-width: 768px) {
    font-size: 20px;
    line-height: 1.4;
    margin-bottom: 32px;
  }

  text-align: center;
  color: #131313;
}

.local-map {
  display: flex;
  justify-content: center;
  min-width: 224px;
  min-height: 199px;
  border: 0;
  border-radius: 10px;
  margin-bottom: 24px;

  @media screen and (min-width: 768px) {
    & iframe {
      width: 448px;
      height: 260px;
    }

    margin-bottom: 32px;
  }

}

.map {
  overflow: hidden;
}


.local-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px 34px;
  border: 0;
  background: #F8D24E;
  border-radius: 10px;
  margin: 0 auto;
}

.open {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.25;

  @media screen and (min-width: 768px) {
    font-size: 14px;
    line-height: 1.21;
  }

  display: flex;
  align-items: center;
  text-align: center;
  color: #131313;
}