// !для інформації:

// body {
//     font-family: 'Montserrat', sans-serif;
//     font-weight: 400;
//     font-size: 14px;
//     color: $color-black;
// }

// $color-yellow: #F8D24E;
// $color-black: #131313;
// $color-green-bg: #84A178;
// $color-white-bg: #FCFCFC;
// $hover-focus-color: #0A8817; //green
// $focus-color-txt: #FCFCFC;
// $hover-color-txt: #0A8817;
// $ffamily-seymour:'Seymour One', sans-serif;
// $ffamily-montserrat:'Montserrat', sans-serif;

//!видалити після закінчення секції
.products{
padding-top: 61px;
padding-bottom: 60px;
}
.products__wrap {
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  flex-grow: 1;
  background-color: #ffffff;
  background-image: url(../images/products/backgroud-mobile.jpg);
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .products__wrap {
    background-image: url(../images/products/backgroud-mobile@2x.jpg);
  }
}
@media screen and (min-width: 480px) {
  .products__wrap {
    background-image: url(../images/products/background-tablet.jpg);
  }
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .products__wrap {
    background-image: url(../images/products/background-tablet@2x.jpg);
  }
}

@media screen and (min-width: 768px) {
  .products__wrap {
    background-image: url(../images/products/backgroud-desktop.jpg);
  }
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .products__wrap {
    background-image: url(../images/products/backgroud-desktop@2x.jpg);
  }
}

/*@media screen and (min-width: 1200px) {
        max-width: 1600px;
        height: 600px;
        margin: 0 auto;
        padding-top: 200px;
        padding-bottom: 200px;
    }*/

.products__text {
  margin-bottom: 12px;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.22;
  text-align: center;
  text-transform: uppercase;
}

.products__title{
margin-bottom: 148px;
font-family: 'Seymour One';
font-style: normal;
font-weight: 400;
font-size: 30px;
line-height: 1/27;
text-align: center;
letter-spacing: 0.04em;
text-transform: uppercase;
}

.products__list{
display: flex;
justify-content: center;
}

.products__card {
    position: relative;
    padding-top: 123px;
    padding-bottom: 16px;
    width: 100%;
    border-radius: 24px;
    max-width: 440px;
    background: #AEC6A5;

}

.products__card-ellipse {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: linear-gradient(0deg, rgba(156, 190, 143, 0.7), rgba(156, 190, 143, 0.7)), #D9D9D9;
    box-shadow: 0px 5.34219px 20.0332px rgba(10, 136, 23, 0.25);
}

/*.products__card::before {
content:url(../images/products/ice-cream.jpg);
position: absolute;
    top: -112px;
    left: 50%;
    transform: translate(-50%);
    z-index: 1;
margin-bottom: 12px;

}*/

.products__card::before {
    display: block;
content:" ";
width: 200px;
height: 200px;
border-radius: 100%;
position: absolute;
    top: -112px;
    left: 50%;
    transform: translate(-50%);
    z-index: 1;
margin-bottom: 12px;
background-image: url(../images/products/ice-cream.jpg);

}

.products__card-title{
margin-bottom: 40px;
font-weight: 700;
font-size: 20px;
line-height: 1.2;
text-align: center;
letter-spacing: 0.04em;
text-transform: uppercase;
}

.products__card-text{
padding-right: 40px;
padding-left: 40px;
font-size: 14px;
line-height: 1.76;
text-align: center;
letter-spacing: 0.04em;
}

.products__btn{
background-color: transparent;
display: block;
margin: auto;



}

