.read-more {
  max-width: 340px;
  padding: 26px;

  background-color: #FCFCFC;
  border: 2px solid #F8D24E;
  border-radius: 10px;

  @media screen and (min-width: 768px) {
    max-width: 564px;
    padding: 30px 58px;
  }
}

.read-title {
  font-family: 'Seymour One';
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  margin-bottom: 20px;

  @media screen and (min-width: 768px) {
    font-size: 20px;
    line-height: 1.4;
    color: #131313;
    margin-bottom: 32px;
  }
}

.read-video {
  width: 100%;
  min-height: 199px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  border: 0;
  margin-bottom: 20px;

  @media screen and (min-width:768px) {
    height: 205px;
    margin-bottom: 32px;
  }
}

.read-text {
  font-family: 'Montserrat';
  font-size: 14px;
  line-height: 1.43;
  color: #131313;

  @media screen and (min-width:768px) {
    font-size: 16px;
    line-height: 1.38;
  }
}