.backdrop {
  z-index: 100;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  left: 0;

  padding: 0 20px;

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.read-more-modal {
  max-width: 440px;
  width: 100%;
  padding: 26px;

  @media screen and (min-width: 768px) {
    max-width: 564px;
    padding: 30px 58px;
  }

  background-color: #FCFCFC;
  border: 2px solid #F8D24E;
  border-radius: 10px;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .backdrop.is-hidden & {
    transform: translate(-50%, -50%) scale(0);
  }
}

.read-close {
  background-color: #FCFCFC;
  border: 0;
  color: #131313;
  position: absolute;
  right: 12px;
  top: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-icon {
  color: currentColor;
  width: 20px;
  height: 20px;

  @media screen and (min-width: 768px) {
    width: 24px;
    height: 24px;
  }
}

.read-title {
  font-family: 'Seymour One';
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  margin-bottom: 20px;

  @media screen and (min-width: 768px) {
    font-size: 20px;
    line-height: 1.4;
    color: #131313;
    margin-bottom: 32px;
  }
}

.read-video {
  width: 100%;
  min-height: 199px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  border: 0;
  margin-bottom: 20px;

  @media screen and (min-width:768px) {
    height: 205px;
    margin-bottom: 32px;
  }
}

.read-text {
  font-family: 'Montserrat';
  font-size: 14px;
  line-height: 1.43;
  color: #131313;

  @media screen and (min-width:768px) {
    font-size: 16px;
    line-height: 1.38;
  }
}