.reviews {

  & {
    background-color: linear-gradient(to top, #0000 65%, #84a178 65%);

    @media screen and (min-width: 768px) {
      padding-top: 60px;
      background-image: linear-gradient(to top, transparent 45%, #84a178 45%);
    }

    @media screen and (min-width: 1200px) {
      padding-top: 80px;
      background-image: linear-gradient(to top, transparent 65%, #84a178 65%);
    }
  }
}

.gallery-img {
  margin: 0 auto;
  border-radius: 8px;

  @media screen and (min-width: 768px) {
    border-radius: 18px;
  }

  @media screen and (min-width: 1200px) {
    border-radius: 24px;
  }
}

.reviews-thumb {
  overflow: hidden;
  padding-top: 80px;
  padding-bottom: 64px;
  margin: 0 auto;

  @media screen and (min-width: 768px) {
    padding-top: 100px;
    padding-bottom: 80px;
  }

  @media screen and (min-width: 1200px) {
    padding-top: 140px;
    padding-bottom: 144px;
  }
}



.reviews__img-thumb {
  margin-bottom: 32px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 44px;
  overflow: hidden;
  background: #6e6e6e;
  width: 85px;
  margin-left: auto;
  margin-right: auto;
}

.reviews__card {
  text-align: center;
}

.reviews__text {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 280px;
  height: 256px;
  padding: 0 39px;
  margin-bottom: 32px;
  background-color: #84a178;
  text-align: center;

  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: calc(30.6px / 12px);
  color: #fcfcfc;

  border-radius: 10px;

  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: 768px) {
    width: 600px;
    height: 138px;
    padding: 0 80px;
    border-radius: 24px;
    font-size: 14px;
    font-weight: 500;
    padding: 0 80px;
    letter-spacing: 0.04em;
    line-height: calc(26.04px / 14px);
  }

  @media screen and (min-width: 1200px) {
    width: 968px;
    padding: 0 74px;
    font-size: 16px;
    line-height: calc(29.76px / 16px);
  }
}

.reviews__sub-text {
  margin-bottom: 12px;
  font-weight: 500;
  font-size: 20px;
  color: #131313;
  line-height: calc(37.2px / 20px);

  @media screen and (min-width: 768px) {
    font-weight: 16;
    line-height: calc(29.76px / 16px);
  }
}

.slick-dotted.slick-slider {
  margin: 0;
}

.slick-dots {
  position: absolute;
  bottom: -25px;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 10px;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;

  @media screen and (min-width: 768px) {
    gap: 18px;
  }
}

.slick-dots li {
  position: relative;
  display: inline-block;
  margin: 0;
  padding: 0;
  width: 12px;
  height: 12px;
  background-color: #D9D9D9;
  border-radius: 50%;
}

.slick-dots li button {
  font-size: 0;
  line-height: 0;
  padding: 0;
  display: block;
  color: transparent;
  border: 0;
  outline: none;
  background: transparent;
}

.slick-dots li.slick-active button:before {
  opacity: 0.75;
  background-color: #84a178;
}

.slick-dots li button:before {
  font-family: 'slick';
  font-size: 12px;
  line-height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  content: '';
  text-align: center;
  opacity: 0.25;
  color: #6e6e6e;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 12px;
  height: 12px;
  border-radius: 50%;
}