.reviews {
  width: 100%;

  & {
    background-image: linear-gradient(to top,
        transparent 60%,
        #84a178 60%);

    @media screen and (min-width: 768px) {
      padding-top: 60px;
      background-image: linear-gradient(to top,
          transparent 45%,
          #84a178 45%);
    }

    @media screen and (min-width: 1200px) {
      padding-top: 80px;
      background-image: linear-gradient(to top,
          transparent 65%,
          #84a178 65%);
    }
  }
}

.gallery-img {
  margin: 0 auto;
  border-radius: 8px;

  @media screen and (min-width: 768px) {
    border-radius: 18px;
  }

  @media screen and (min-width: 1200px) {
    border-radius: 24px;
  }
}