.reviews {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding-top: 454px;
  padding-bottom: 393px;
  background-image: url(../images/jpeg/reviews/Backgroud_mobile.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @media screen and (min-width: 320px) {

    @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
      background-image: url(../images/jpeg/reviews/backgroud_mobile@2.jpg);
    }
  }

  @media screen and (min-width: 480px) {
    background-image: url(../images/jpeg/reviews/background_tablet.jpg);
  }

  @media screen and (min-width: 480px) {

    @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
      background-image: url(../images/jpeg/reviews/background_tablet@2.jpg);
    }
  }

  @media screen and (min-width: 768px) {
    padding-bottom: 379px;
    background-image: url(../images/jpeg/reviews/backgroud_desktop.jpg);
  }

  @media screen and (min-width: 768px) {

    @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
      background-image: url(../images/jpeg/reviews/backgroud_desktop@2.jpg);
    }
  }

  @media screen and (min-width: 1200px) {
    padding-bottom: 228px;
  }
}

.gallery__container {
  position: absolute;
  top: -32px;
  left: 50%;
  transform: translateX(-50%);
  margin: 0 auto;
  border-radius: 18px;

  @media screen and (min-width: 480px) {
    width: 280px;
    height: 130px;
  }

  @media screen and (min-width: 768px) {
    top: -144px;
    width: 704px;
    height: 327px;
  }

  @media screen and (min-width: 1200px) {
    top: -98px;
    width: 1013px;
    height: 422px;
  }
}

.gallery-img {
  border-radius: 18px;
}

.slider-img ul li button {
  display: none;
}

.reviews__thumb {
  outline: none;
}

.reviews-img {
  margin-bottom: 32px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
}

.comment-body {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding: 35px 39px;
  border-radius: 10px;
  background-color: $color-green-bg;

  @media screen and (min-width: 768px) {
    max-width: 705px;
    padding: 28px 80px;
  }

  @media screen and (min-width: 1200px) {
    max-width: 968px;
    padding: 42px 73px;
  }
}

.comment-body__text {
  font-size: 12px;
  line-height: 31px;
  color: $focus-color-txt;

  @media screen and (min-width: 768px) {
    font-weight: 500;
    font-size: 14px;
    line-height: 26px;
    letter-spacing: 0.04em;
  }

  @media screen and (min-width: 768px) {
    font-size: 16px;
  }
}

.comment-body__consumer-name__thumb {
  display: flex;
  justify-content: center;
}

.comment-body__consumer-name {
  font-weight: 500;
  font-size: 16px;
  margin-top: 32px;
  margin-bottom: 12px;
}

.slick-prev,
.slick-next {
  text-indent: -999px;
  overflow: hidden;
}

.slick-dots {
  list-style: none;
  display: flex;
  text-align: center;
  justify-content: center;
  gap: 18px;
}

.slick-dots li button {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #d9d9d9;
  text-indent: -999px;
  overflow: hidden;
  outline: none;
}

.slick-dots li.slick-active button {
  background: $color-green-bg;
}